<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.AlbumArchive.mybatis.AlbumMapper">

	<select id="getAllAlbums"
		resultType="album">
		SELECT * FROM album
		ORDER BY dates DESC
	</select>

	<select id="getAlbumsByGenre"
		resultType="album">
		SELECT * FROM album
		WHERE category = #{category}
		ORDER BY
		dates DESC
	</select>

	<select id="getAlbumsByLikes"
		resultType="album">
		SELECT * FROM album
		ORDER BY likes DESC
	</select>

	<select id="getAlbumsByArtist"
		resultType="album">
		SELECT * FROM album
		WHERE artist_num = #{artist_num}
	</select>

	<select id="getTopLikedAlbums"
		resultType="album">
		SELECT * FROM album
		ORDER BY likes DESC
		LIMIT 10
	</select>

	<select id="getOneAlbumInfo"
		resultType="album" parameterType=" String ">
		SELECT * FROM
		album
		WHERE name = #{name}
	</select>

	<select id="getSongList" resultType="song"
		parameterType="int">
		SELECT id, album_num AS albumNum, name
		FROM song
		WHERE
		album_num = #{album_num}
	</select>

	<delete id="albumDelete">
		DELETE FROM album
		WHERE num = #{num}
	</delete>

	<select id="searchAlbums"
		resultType="album">
		SELECT * FROM album
		WHERE name LIKE #{query}
	</select>

	<select id="searchAlbumsForDropdown" parameterType="string"
		resultType="album">
		SELECT num, name FROM album
		WHERE name LIKE #{query}
		LIMIT 5
	</select>
</mapper>