<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.AlbumArchive.mybatis.InquiryMapper">  
    <!-- 전체 문의 수를 계산하는 쿼리 -->
    <select id="getTotalInquiryCount" resultType="int">
        SELECT COUNT(*) FROM inquiry
    </select>

    <!-- 페이징을 지원하도록 수정된 쿼리 -->
    <select id="getAllInquiryList" parameterType="map" resultType="inquiry">
        SELECT * FROM inquiry
        ORDER BY num DESC
        LIMIT #{pageSize}
        OFFSET #{start}
    </select>

    <select id="getInquiryInfo" parameterType="String" resultType="inquiry">
        SELECT * FROM inquiry WHERE user_id = #{id}
    </select>

    <update id="sendInquiryAnswer" parameterType="map">
        UPDATE inquiry
        SET answer = #{answer},
            checks = 1
        WHERE user_id = #{id}
    </update>

    <delete id="adminDeleteInquiry" parameterType="integer">
        DELETE FROM inquiry WHERE num = #{number}
    </delete>
    <insert id="insertInquiry" parameterType="map">
    	insert into inquiry(user_id,title,info,checks)
    	values
    	(#{id},#{title},#{info},0)
    </insert>
</mapper>