<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.AlbumArchive.mybatis.MemberMapper">  
	<select id="isVaildId" parameterType="String" resultType="String">
	select pw from member where id = #{id}
	</select>
	<insert id="memberJoin" parameterType="member">
		INSERT INTO member (id,pw,name,address,email,phone,age) 
        VALUES (#{id},#{pw},#{name},#{address},#{email},#{phone},#{age})
	</insert>
	<select id="checkLogin" parameterType="member" resultType="member">
        SELECT * FROM member WHERE id = #{id} AND pw = #{pw}
    </select>
    <select id="isValidEmail" parameterType="String" resultType ="String">
    select id from member where email = #{email}
    </select>
    
    <select id="getPw" parameterType="String" resultType = "String">
    select pw from member where email= #{email}
    </select>
    <select id="getMemberList" resultType = "member">
    select * from member
    </select>
    <delete id="deleteMember" parameterType="String">
    DELETE FROM member
    WHERE id = #{id}
	</delete>
    <select id="getMemberInfo" parameterType="String" resultType="member">
    select * from member where id = #{id}
    </select>
    <update id="updateMemberInfo" parameterType="map">
    UPDATE member
    SET
        pw = #{pw},
        address = #{address},
        email = #{email}
    WHERE
        id = #{id}
</update>
</mapper>