<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.AlbumArchive.mybatis.PurchaseMapper">  
	<select id="getPurchaseList" resultType="purchase">
	select * from purchase
	</select>
	<select id="getMemberPurchaseList" resultType="purchase">
	select * from purchase where user_id = #{id}
	</select>
</mapper>